<div class="landing-page">
    <div class="container-pad ">
        <div class="landing-details">
            <div class="landing-main">
                <h1>
                    <span class="landing-title-1">the</span>
                    <span class="landing-title-2">dev</span>
                    <span class="landing-title-1">circle</span>
                </h1>
            </div>
            <hr>
            <div class="landing-other">
                <h2>
                    <span class="landing-subtitle-1">Build The Community</span>
                </h2>
                <p>
                    <span class="landing-text-1">My name is Savin Osuka.</span>
                    <span class="landing-text-2">I'm a front-end tech enthusiast</span>
                    <span class="landing-text-3">I live in <strong>Nairobi, Kenya</strong>.</span>
                </p>
            </div>
        </div>
    </div>
</div>