<div class="container">
  <main class="container-pad" *ngIf="blogPosts$ | async as blogPosts">
    <div class="blog-posts-container" *ngFor="let blogPost of blogPosts.items">
      <mat-card class="example-card">
        <img
          mat-card-image
          [src]="blogPost.fields.featuredImage.fields.file.url"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-header>
          <mat-card-title><h3>{{blogPost.fields.title}}</h3></mat-card-title>
          <mat-card-subtitle><h4>{{blogPost.fields.author}}</h4></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{blogPost.fields.summary}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-stroked-button color="warn" href="#" >Read more </a>
          <!-- <button mat-button>LIKE</button>
          <button mat-button>SHARE</button> -->
        </mat-card-actions>
        <h5>16 November, 2000</h5>
      </mat-card>
    </div>
  </main>
</div>
